.body {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

#leftSide {
  width: 20%;
  height: 100vh;
  background-color: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border: 2px solid gray;
  margin-top: 28px;
  border-radius: 5px;
  width: 80%;
}
.searchIcon {
  font-size: 24px;
}
.input {
  font-size: 18px;
  width: 90%;
  font-style: italic;
  border-width: 0px;
  background-color: rgb(248, 248, 248);
}
.input:focus {
  outline: none;
}

.tasks {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menuIcon, #closeIcon {
  display: none;
}

.rightSide {
    margin-left: 20%;
    font-size: 36px;
}

@media screen and (max-width: 720px) {
  #leftSide {
    width: 40%;
    margin-left: -40%;
    transition: margin-left 0.15s linear;
    position: relative;
    z-index: 1;
  }
  #menuIcon, #closeIcon {
    display: inline;
  }
  .search {
    width: 75%;
    margin-top: 56px;
  }
  .input {
    font-size: 16px;
  }
  .searchIcon {
    font-size: 14px;
  }
  #closeIcon {
    position: absolute;
    margin-top: 5px;
    right: 0;
    font-size: 40px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  #menuIcon {
    font-size: 30px;
    margin-top: 10px;
    position: absolute;
    z-index: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }

}